pyspark==3.5.1
psycopg2-binary==2.9.12
pyyaml==6.0.1
great-expectations==0.17.15
pytest==7.4.3

fastapi==0.140.0
uvicorn==0.51.0
pydantic==2.13.4
pydantic-settings==2.12.0
numpy==2.3.5
scikit-learn==1.7.2
sqlparse==0.6.0
